.clothing-menu {
  padding: 10px 5.301% 15px 6.807%;
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: center;
    } 
  }

  &__item {

    @media (max-width: 576px) {
      margin: 0 10px 10px 0;
    }   

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      transition: 0.2s ease-in;
      
      &:hover {
        color: $color-1;
      }

      div {        
        margin-bottom: 11px;
      }
    }
  }
}

.bg-dresses {
  width: 28px; height: 43px;
  background: url('../img/sprites.png') -73px -66px;
}

.bg-fur_coats {
  width: 43px; height: 42px;
  background: url('../img/sprites.png') -10px -10px;
}

.bg-blazers {
  width: 38px; height: 36px;
  background: url('../img/sprites.png') -73px -10px;
}

.bg-blouses {
  width: 30px; height: 42px;
  background: url('../img/sprites.png') -131px -62px;
}

.bg-jeans {
  width: 37px; height: 46px;
  background: url('../img/sprites.png') -10px -72px;
}

.bg-shirts {
  width: 42px; height: 32px;
  background: url('../img/sprites.png') -131px -10px;
}
