@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Clear sans';
  src: local("☺"), url("../fonts/clear-sans.woff2") format("woff2"), url("../fonts/clear-sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clear sans';
  src: local("☺"), url("../fonts/clear-sans-bold.woff2") format("woff2"), url("../fonts/clear-sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1700px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 1;
}

body.active {
  overflow: hidden;
}

.title-3 {
  font-size: 2.25rem;
}

.btn {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ef7f1a;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background-color: #c8660e;
}

.btn__katalog {
  position: relative;
  padding: 13px 75px 13px 25px;
  margin-right: 90px;
}

.btn__katalog::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 17px;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../../img/css_sprites.png") -193px -49px;
}

.header {
  padding: 20px 0;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.header__logo:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
      -ms-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__input.bg-search {
  width: 19px;
  height: 19px;
  margin-left: 50px;
  background: url("../../img/css_sprites.png") -193px -10px;
}

.header__basket.bg-basket_black {
  width: 24px;
  height: 22px;
  margin-left: 50px;
  background: url("../../img/css_sprites.png") -10px -138px;
}

.header .burger {
  display: none;
  margin-left: 50px;
  cursor: pointer;
  z-index: 600;
}

.header .burger span {
  content: '';
  display: table;
  width: 30px;
  height: 4px;
  background-color: #ef7f1a;
  margin-bottom: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .burger.active span:nth-of-type(2) {
  width: 70%;
}

.header .burger.active span:nth-of-type(3) {
  width: 40%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.menu__list.active {
  display: block;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  font-size: 2rem;
  line-height: 1.5;
  z-index: 500;
  overflow: auto;
}

.menu__item {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__item:hover {
  color: #ef7f1a;
}

.menu__item:not(:last-of-type) {
  margin-right: 60px;
}

.menu__item:first-of-type {
  margin-right: 90px;
}

.menu__item:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}

.picture__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture__content .button-right,
.picture__content .button-left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 50px;
  border: 3px solid #5b523a;
  border-radius: 50%;
  background-color: #d6d5d6;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  z-index: 100;
}

.picture__content .button-right:hover,
.picture__content .button-left:hover {
  background-color: #ffffff;
  -webkit-transform: translateY(-50%) translateX(5px);
      -ms-transform: translateY(-50%) translateX(5px);
          transform: translateY(-50%) translateX(5px);
}

.picture__content .button-right::after,
.picture__content .button-left::after {
  content: '';
  display: inline-block;
  width: 37px;
  height: 10px;
  background: url("../../img/css_sprites.png") -98px -138px;
}

.picture__content .button-left {
  left: 50px;
}

.picture__content .button-left:hover {
  -webkit-transform: translateY(-50%) translateX(-5px);
      -ms-transform: translateY(-50%) translateX(-5px);
          transform: translateY(-50%) translateX(-5px);
}

.picture__content .button-left::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.first-photo,
.second-photo,
.third-photo {
  position: relative;
  max-height: 480px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-photo__content,
.second-photo__content,
.third-photo__content {
  position: absolute;
}

.second-photo__content,
.third-photo__content {
  bottom: 35px;
  text-align: center;
}

.second-photo__text,
.third-photo__text {
  font-size: 1.875rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.second-photo__btn,
.third-photo__btn {
  font-family: "Clear sans";
  font-weight: 700;
  color: #ef7f1a;
  text-decoration: underline;
}

.first-photo__img img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% top;
     object-position: 70% top;
}

.first-photo__content {
  top: 240px;
  max-width: 540px;
}

.first-photo__text {
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 40px;
}

.first-photo__btn {
  padding: 10px 55px;
  border: 3px solid #ffffff;
}

.clothing-menu {
  padding: 10px 5.301% 15px 6.807%;
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.clothing-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.clothing-menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.clothing-menu__item a:hover {
  color: #ef7f1a;
}

.clothing-menu__item a div {
  margin-bottom: 11px;
}

.bg-dresses {
  width: 28px;
  height: 43px;
  background: url("../../img/css_sprites.png") -73px -66px;
}

.bg-fur_coats {
  width: 43px;
  height: 42px;
  background: url("../../img/css_sprites.png") -10px -10px;
}

.bg-blazers {
  width: 38px;
  height: 36px;
  background: url("../../img/css_sprites.png") -73px -10px;
}

.bg-blouses {
  width: 30px;
  height: 42px;
  background: url("../../img/css_sprites.png") -131px -62px;
}

.bg-jeans {
  width: 37px;
  height: 46px;
  background: url("../../img/css_sprites.png") -10px -72px;
}

.bg-shirts {
  width: 42px;
  height: 32px;
  background: url("../../img/css_sprites.png") -131px -10px;
}

.pro {
  padding: 0 0 70px 0;
}

.pro__headers {
  margin-bottom: 35px;
}

.headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headers__title-3:not(:last-of-type) {
  margin-right: 55px;
  cursor: pointer;
}

.arrows {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows__right,
.arrows__left {
  width: 37px;
  height: 10px;
  background: url("../../img/css_sprites.png") -98px -138px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.arrows__right:hover,
.arrows__left:hover {
  -webkit-transform: translateX(5px) scale(1.1);
      -ms-transform: translateX(5px) scale(1.1);
          transform: translateX(5px) scale(1.1);
}

.arrows__left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 35px;
}

.arrows__left:hover {
  -webkit-transform: rotate(180deg) translateX(5px) scale(1.1);
      -ms-transform: rotate(180deg) translateX(5px) scale(1.1);
          transform: rotate(180deg) translateX(5px) scale(1.1);
}

.product-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 400px;
}

.product-card__hover {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105%;
  height: 102%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #333333d0;
  z-index: 100;
}

.product-card__hover_table {
  width: 90%;
  font-family: "Clear sans";
  border-collapse: collapse;
  color: #acacac;
  margin-bottom: 85px;
}

.product-card__hover_td {
  padding: 10px;
  border: 1px solid #ffffff;
}

.product-card__hover_td:last-of-type {
  color: #ffffff;
  text-align: right;
}

.product-card__hover_link {
  font-family: "Clear sans";
  color: #ef7f1a;
  text-decoration: underline;
}

.product-card:hover .product-card__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__top {
  position: relative;
}

.product-card__top_content {
  position: absolute;
  padding: 50px 20px;
  top: 0;
  z-index: 200;
}

.product-card__img img {
  width: 100%;
  height: 527px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card__country {
  width: 18px;
  height: 12px;
  margin-bottom: 20px;
}

.product-card__country_france {
  background: -webkit-gradient(linear, left top, right top, color-stop(33.33%, #4441e2), color-stop(33.33%, #ffffff), color-stop(66.66%, #ff1f00));
  background: -o-linear-gradient(left, #4441e2 33.33%, #ffffff 33.33% 66.66%, #ff1f00 66.66%);
  background: linear-gradient(to right, #4441e2 33.33%, #ffffff 33.33% 66.66%, #ff1f00 66.66%);
}

.product-card__country_italy {
  background: -webkit-gradient(linear, left top, right top, color-stop(33.33%, #009246), color-stop(33.33%, #ffffff), color-stop(66.66%, #ff1f00));
  background: -o-linear-gradient(left, #009246 33.33%, #ffffff 33.33% 66.66%, #ff1f00 66.66%);
  background: linear-gradient(to right, #009246 33.33%, #ffffff 33.33% 66.66%, #ff1f00 66.66%);
}

.product-card__collection {
  padding: 5px 10px;
  font-family: "Clear sans";
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
}

.product-card__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  z-index: 200;
}

.product-card:hover .product-card__bottom {
  color: #ffffff;
}

.product-card__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-card__description {
  font-family: "Clear sans";
  margin-bottom: 15px;
}

.product-card__size-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__size_in-stock,
.product-card__size_not-available {
  display: inline-block;
  padding: 3px 12px;
  font-family: "Clear sans";
  color: #ef7f1a;
  border: 1px solid #ef7f1a;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card__size_not-available {
  color: #bababa;
  border: 1px solid #bababa;
}

.product-card__size_text {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.product-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__price_number {
  font-size: 2.25rem;
  font-weight: 700;
}

.product-card__price_basket {
  margin: 0 20px;
}

.product-card__price_basket .bg-basket_orange {
  width: 24px;
  height: 22px;
  background: url("../../img/css_sprites.png") -54px -138px;
}

.swiper-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1532px) {
  .first-photo__content {
    top: 280px;
  }
}

@media (max-width: 1360px) {
  .picture__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .swiper-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 1300px) {
  .menu__item:not(:last-of-type) {
    margin-right: 30px;
  }

  .menu__item:first-of-type {
    margin-right: 50px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1070px;
  }

  .header {
    padding: 70px 0 20px 0;
  }

  .header__logo {
    -webkit-transform: translate(-50%, -130%);
        -ms-transform: translate(-50%, -130%);
            transform: translate(-50%, -130%);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .header {
    padding: 20px 0;
  }

  .header__logo {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header .burger {
    display: block;
  }

  .menu__list {
    display: none;
  }

  .second-photo,
  .third-photo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .pro {
    padding: 0 0 30px 0;
  }

  .headers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .headers__title-3 {
    margin-bottom: 10px;
  }

  .arrows {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }

  .product-card__price_number {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__input.bg-search {
    margin-left: 20px;
  }

  .header__basket.bg-basket_black {
    margin-left: 20px;
  }

  .second-photo,
  .third-photo {
    max-height: 350px;
  }

  .second-photo__text,
  .third-photo__text {
    margin-bottom: 10px;
  }

  .first-photo__content {
    max-width: 340px;
  }

  .first-photo__text {
    font-size: 2rem;
  }

  .headers__title-3:not(:last-of-type) {
    margin-right: 25px;
  }

  .headers__title-3:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 0;
    text-align: center;
  }

  .product-card__size-and-price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-card__price {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: auto;
  }

  .header__logo {
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .header__btn {
    display: none;
  }

  .picture__content .button-right,
  .picture__content .button-left {
    right: 20px;
  }

  .picture__content .button-left {
    left: 20px;
  }

  .first-photo__content {
    max-width: 280px;
  }

  .first-photo__text {
    margin-bottom: 30px;
  }

  .clothing-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .clothing-menu__item {
    margin: 0 10px 10px 0;
  }

  .product-card:hover .product-card__hover {
    display: none;
  }

  .product-card__img img {
    height: 427px;
  }

  .product-card:hover .product-card__bottom {
    color: #000000;
  }
}

@media (max-width: 541px) {
  .second-photo,
  .third-photo {
    max-height: 300px;
  }
}

@media (max-width: 488px) {
  .first-photo__img img {
    -o-object-position: 65% top;
       object-position: 65% top;
  }
}

@media (max-width: 465px) {
  .second-photo,
  .third-photo {
    max-height: 190px;
  }

  .second-photo__content,
  .third-photo__content {
    bottom: 15px;
  }

  .second-photo__text,
  .third-photo__text {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .product-card__img img {
    height: 380px;
  }
}

@media (max-width: 397px) {
  .headers__title-3 {
    font-size: 2rem;
  }
}

@media (max-width: 380px) {
  .header .burger {
    margin-left: 20px;
  }
}

@media (max-width: 353px) {
  .first-photo__content {
    max-width: 250px;
  }

  .first-photo__text {
    margin-bottom: 20px;
  }
}